# Node Modules
node_modules/

# Build output
coverage/

#logs
logs/
*.log

# Optional npm cache directory
.npm/

# Environments
.env

# Distribution / packaging
build/
dist/

# Unit test / coverage reports
.coverage

#IDEs
.vscode/
.idea/
